<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-panal</title>
</head>
<body>
    <nav align="center">
        <a href="admpanel.html">Панель состояния</a> | <a href="planer.html">Планер</a> | <a href="console.html">Консоль</a> 
    </nav>
    <p></p>
    <form action="#" method="post" align="center">
        <input type="submit" name="name" value="Старт"/>
    </form>
    <form action="#" method="post" align="center">
        <input type="submit" name="name" value="Стоп"/>
    </form>
</body>
</html>